a{
    text-decoration: none; /*quitar el subrayado de los textos*/
    color: #00b3b3;
}
#seccion{
    max-width: 940px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}
#cabecera{
    text-align: center;
}
header{
    background-color: #04B4AE;
}
h1,h2{
    color: white;
    font-family: 'Work Sans', sans-serif;
}
/*NAV*/
nav{
    background-color: #01DFD7;
    font-family: 'Dancing Script', cursive;
    text-align: center;
}
nav ul{
    list-style: none;
    font-size: 20px;
    padding: 12px 0;
}
nav li{
    display: inline-block; /*pone los elementos en linea es decir uno despues de otro*/
}
nav a{
    font-weight: bold;
    padding: 15px 10px;
}
nav a, nav a:visited{
    color: white;
}
nav a.selected, a:hover{
    color: #0000ff;
}
h1{
    margin: 0;
    font-size: 1.80em;
}
h2{
    margin: 5px 0;
}
/*FOOTER*/
footer{
    font-size: 0.90em;
    text-align: center;
    padding-top: 15px;
    color: gray;
    clear: both;
}
img{
    max-width: 100%; /*lo que hace max-width es que las imagenes se adpaten automaticamente al tamaño del contenedor,
            ya que si no aplicas esta propiedad, al disminuir el tamaño de la pantalla
            veras como las imagenes se encimaran entre si */
}
#galeria img{
    width: 400px;
    height: 200px;
}
/*PORTAFOLIO*/
#galeria{
    margin: 0;
    padding: 0;
    list-style: none; /*quita los puntos que tiene la lista desordenada por defecto*/
    text-align: center;
}
#galeria li{
    float: left;
    width: 45%; /*en esta parte es donde establecemos si queremos que las imagenes 
    aparescan en 2,3,4 columnas en este caso solo estan en 2 columnas*/
    margin: 2.5%; 
}
/*ESTA PARTE CORRESPONDE A LA PAGINA DE CONTACTO*/
.aplicar{
    list-style: none;
    margin: 0;
    padding: 0;
}
.fondo a{
    background-image: url("../imagenes/whatssap.png"); /*los 2 puntos indica que se esta refiriendo a la carpeta
                                principal que se llama mi sitio web dentro esta la carpeta imagenes y dentro la
                                imagen que kieres seleccionar*/
    background-repeat: no-repeat;
    /*IMPORTANTE LA VENTAJA DE PONER UNA IMAGEN DE FONDO DENTRO DE LAS ETIQUETAS A
    ES QUE AL DARLE CLICK A LOS ICONOS TAMBIEN FUNCIONA*/
}
.fondo2 a{
    background-image: url("../imagenes/correoelectronico.png");
    background-repeat: no-repeat;
}
.aplicar a{
    display: block; /*pone a las etiquetas a en bloque para que las imagenes de fondo se adapten al tamaño de ese contenedor*/
    line-height: 30px;
    padding-left: 30px;
}
footer{
    padding-top: 80px;
}
#seccion{
    width: 100%;
    margin: 5px;
}